
body 
{
    margin: 0%;
    height: auto;
}

.header 
{
    padding: 15px 0;
    background-color: #ffffff;
    padding-left: 160px;
}

.emp-text 
{
    font: normal  bold 20px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}

.emp-payroll 
{ 
    color: #373e46; 
}

.MainContainer{
    width: 100vw;
    height: 90vh;
}
.TableHh{
    width: 80%;
    height: 90%;
}

.profile 
{
    width: 30px;
    border-radius: 50%;
}
.tableConatiner{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.MainHead{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    justify-content: space-around;
    padding-bottom: 20px;
    gap: 830px;
}
.buttonSearch{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
    justify-content: space-between;
    align-content: space-between;
    gap: 20px;
}
input{
    height: 31px;
    width: 45px;
    border-radius: 15px;
}
  
#pen{
    position: absolute;
    top: 13%;
    right: 20.5%;
    color: rgb(56, 48, 48);
}