
body 
{
    margin: 0%;
    height: 100%;
}

.header 
{
    padding: 15px 0;
    background-color: #ffffff;
    padding-left: 140px;
}

.emp-text 
{
    font: normal  bold 20px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}

.emp-payroll 
{ 
    color: #373e46; 
}

.MainContainer{
    width: 100vw;
    height: 90vh;
}
.TableHh{
    width: 80%;
    height: 90%;
}

.profile 
{
    width: 30px;
    border-radius: 50%;
}
.tableConatiner{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MainHead{
    display: flex;
    justify-content: space-around;
    gap: 930px;
    padding: 25px 0px 25px 0px;
}